body{
background-color:  rgba(0, 0, 0, 0.1);  
}

.head{
    
    background-color:#fafafa;
    height:63px;
}
#border {
    background-color:#fafafa;
    border: 2px solid #4a4747;
    padding: 10px;
    border-radius: 0px;
}
.head2
{
 background-image:url('/resources/images/house.jpeg');   
}
.text{
    color:white;
}
.border {
	  border-radius: 4px;
    background-color:#fafafa;
    padding: 10px;
    border-radius: 0px;
}
.rightborder{
    background-color:#fafafa;
    border: 2px solid #4a4747;
    padding: 10px;
    border-radius: 0px;    
    
}
.shadow{
	   padding: 10px;
	  -webkit-box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
          box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
	
}