body{
    background-color: white;
}
#border {
    border: 2px solid #4a4747;
    padding: 10px;
    border-radius: 10px;
}

.inputfield{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid #eeeeee;
}
.leftDiv{
    padding: 10px;
    border-radius: 10px;
    background-color: #00b0ff;
}

.shadow{
	   padding: 10px;
	  -webkit-box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
          box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
	
}